@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* src/app/styles/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

header {
  background-color: #333;
  padding: 1rem;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

nav a:hover {
  color: #ffeb3b;
}

button {
  background-color: #ffeb3b;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ffc107;
}

button:active {
  transform: scale(0.95);
}


@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');



.bg-noise {
  background-image: url('data:image/png;base64,...'); /* Add your base64 noise image here */
}

body {
  font-family: 'Courier Prime', monospace;
}




